
.Button{
    width:100px;
    padding:5px 5px;
    background-color:#edd83d;
    color: white;
    font-size: large;
    text-align: center; 
}

.Button:hover{
    background-color: #efde57;
    cursor: pointer;
}