table,th,td{
    border : 1px solid white;
    border-collapse: collapse;
}

table {
    width: 50%;
}

form{
    width:50%;
}

th,td{
    padding: 10px;
}

.formDisplay{
    float: left;
    position: relative;
    top: 0;
}

.DeleteForm{
    height:50px;
    text-align: left;
}
